bokeh >= 1.3.4
setuptools >= 46.1
colorcet >= 2.0.2
cython >= 0.29
matplotlib >= 3.1
memory-profiler >= 0.57
numba >= 0.48
numpy >= 1.17.4
scipy >= 1.3.2
scikit-learn >= 0.22
seaborn >= 0.9
sphinx-gallery >= 0.6
streamlit >= 0.49.0
tqdm >= 4.36
